ion-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0c699e;
    border-radius: 2rem 2rem 0 0;
    /* This height and width are relatives to the Phone Module */
    height: 7.5%;
    width: 100%;
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Header module */
    font-size: var(--header-module-font-size);
    p {
        /* This font size will scale with Header module */
        font-size: 1em;
    }
}
/* Content Module */
ion-content {
    /* This height and width are relatives to the Phone Module */
    height: 92.5%;
    width: 100%;
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Content module */
    font-size: var(--section-module-font-size);
}
ion-card {
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Cards components */
    /* Ion Cards needs the font size directly here, the content module font size change not apply here */
    font-size: var(--cards-components-font-size);
}

.openforge-card {
    --background: var(--openforge-orange);
    color: white;
}

ion-button {
    --background: #00cccc;
    font-size: 0.8rem;
}

ion-card-title {
    font-size: 1.2em;
}

ion-card-content {
    font-size: 1.1em;
}

.footer {
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Footer module */
    font-size: var(--footer-module-font-size);
    ion-tab-button {
        /* This font size will scale with Footer module */
        font-size: 1rem;
        border-radius: 0 0 2rem 2rem;
    }
    ion-tab-bar {
        border-radius: 0 0 2rem 2rem;
    }
    border-radius: 0 0 2rem 2rem;
}
