/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';
/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
/*
Fernando & Carlos Rocha
GOAL OF THIS FILE
Is to be the ONLY place for media queries.
*/
:root {
    --document-font-size: 16px;
    --document-font-size-900: 13px;
    --document-font-size-400: 10px;
    /* CSS Variables for each module */
    /* This are called global scope variables */
    --header-module-font-size: 1.2rem;
    --section-module-font-size: 1rem;
    --cards-components-font-size: 1rem;
    --footer-module-font-size: 0.75rem;
    --openforge-orange: #e78112;
    --openforge-orange-lighter-25: #f19f47;
}

html {
    /* If we change this one manually will impact in all the modules */
    font-size: var(--document-font-size);
}
