<section class="phone">
  <input type="range" min="10" max="20" step="1" value="16" (input)="documentModuleValueChange($event.target.value)">
  <header>
    <input type="range" min="0.4" max="1.6" step="0.2" value="1.6"
      (input)="headerModuleValueChange($event.target.value)">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel.
    </p>
  </header>
  <section>
    <input type="range" min="0.4" max="2.0" step="0.2" value="1.2"
      (input)="sectionModuleValueChange($event.target.value)">
    <div class="main-content">
      <aside>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non cursus elit. Praesent nec urna quam.
          Aenean
          convallis felis scelerisque sapien ullamcorper dictum. Sed hendrerit nisl quis pellentesque tincidunt. Aliquam
          neque
          sapien, lacinia porttitor ligula ornare, volutpat tempus risus. Mauris scelerisque sem sapien, vitae semper
          metus
          dignissim id. Donec risus turpis, ultricies quis faucibus in, fermentum ut velit. Proin faucibus nisl mauris,
          vitae
          malesuada ipsum pulvinar et.
        </p>
        <p>Vivamus lobortis est varius massa egestas, eget viverra odio vestibulum. In odio
          dolor,
          dapibus eget eros eget, elementum tristique nunc. Fusce mattis turpis enim, eu molestie metus malesuada at.
          Aliquam
          erat volutpat. Aenean libero sapien, laoreet sed sem eget, cursus ultricies risus. Curabitur sed tellus
          lectus.
          Nunc
          porttitor odio et elit venenatis dapibus.</p>
      </aside>
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a tortor et risus aliquam rutrum. Mauris tempor
          sollicitudin tempus. In rhoncus nunc arcu, at laoreet libero porta ut. Mauris non urna quis leo feugiat
          egestas
          in
          et neque. Fusce vel accumsan augue. Sed congue, mauris vel blandit ornare, mauris lorem aliquam eros, ut
          ultrices
          tellus purus vitae ante. Pellentesque mattis, ipsum et fermentum facilisis, mi dolor posuere felis, a porta
          tellus
          lectus sed mi. Nulla sollicitudin leo at leo porttitor cursus. Aenean tempor tincidunt sapien, in malesuada
          massa
          condimentum hendrerit. Donec convallis mi risus, quis auctor massa efficitur quis. Suspendisse id gravida
          metus,
          ornare elementum justo. Fusce tincidunt libero lorem, et malesuada tortor fermentum at.
        </p>
        <p>
          Morbi vulputate sodales lectus ut porttitor. Vestibulum quis purus eu felis pellentesque scelerisque et
          rhoncus
          dui.
          Curabitur sed mollis urna. Sed lobortis, eros in vestibulum sagittis, elit felis aliquet turpis, vel placerat
          elit
          nibh nec odio. Ut nec pretium arcu. Aliquam eu libero blandit, bibendum ligula quis, viverra ante. Nullam
          consequat,
          tortor luctus euismod sodales, massa felis cursus velit, consectetur pellentesque mi erat vel urna. Quisque
          nec
          dui
          tempor, fermentum sapien eu, sagittis nisl. Vestibulum condimentum ut ipsum eget maximus. Nunc id mauris sed
          libero
          dictum tristique ut ac orci. Sed ut nibh mauris.
        </p>
      </article>
    </div>
  </section>
  <footer>
    <input type="range" min="0.5" max="1.0" step="0.05" value="0.75"
      (input)="footerModuleValueChange($event.target.value)">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel.
    </p>
  </footer>

</section>
