:root {
    /* CSS Variables for each module */
    /* This are called global scope variables */
    --header-module-font-size: 1.2rem;
    --section-module-font-size: 1rem;
    --cards-components-font-size: 1rem;
    --footer-module-font-size: 0.75rem;
}
p {
    margin: 0;
}
/* Main Section */
section.main-section {
    display: flex;
    background-color: #f4f6f9;
}
/* Sliders Module */
section.sliders {
    /* This height and width are relatives to the viewport */
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    p {
        /* This font size is overriding the variable in order to not be modified when updating the document font size
        since this text is not needed to be responsive
        */
        /* Since we want the text on the sliders section not be modified we need to disable the stylelint to be able to use px */
        font-size: 16px; /* stylelint-disable-line */
    }
}
div.sliders-wrappers {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 16px;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.75);
}
ion-range {
    --bar-background: var(--openforge-orange-lighter-25);
    --bar-background-active: var(--openforge-orange);

    padding-left: 0;
    padding-right: 0;
}
ion-button {
    --background: var(--openforge-orange);

    margin: 16px;
    width: 100%;
}
/* Phone Module */
section.phone {
    /* CSS Variables for device size */
    /* Needs to be set here in order to apply the % to the right module */
    /* If we set this properties at the top with the other ones, the % will apply to the full viewport instead the module */
    /* This are called local scope variables */
    --device-height: 80%;
    --device-width: 35%;
    /* This height and width are relatives to the viewport */
    height: 100vh;
    width: 75vw;
}
div.phone-wrapper {
    margin: 16px auto;
    /* This height and width are relatives to the Phone Module */
    height: var(--device-height);
    width: var(--device-width);
    border-radius: 40px;
    border: 4px solid #31393e;
    overflow: hidden;
    box-shadow: inset 0 0 40px 5px rgba(255, 255, 255, 0.2);
}
/* Header Module */
ion-header {
    padding: 10px;
    color: white;
    background-color: #0c699e;
    /* This height and width are relatives to the Phone Module */
    height: 7.5%;
    width: 100%;
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Header module */
    font-size: var(--header-module-font-size);
    p {
        /* This font size will scale with Header module */
        font-size: 1em;
    }
}
/* Content Module */
ion-content {
    /* This height and width are relatives to the Phone Module */
    height: 87.5%;
    width: 100%;
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Content module */
    font-size: var(--section-module-font-size);
}
ion-card {
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Cards components */
    /* Ion Cards needs the font size directly here, the content module font size change not apply here */
    font-size: var(--cards-components-font-size);
}
ion-card ion-card-title {
    font-size: 1.2em;
}
ion-card ion-card-subtitle {
    font-size: 1em;
}
ion-card ion-card-content {
    font-size: 1.1em;
}
/* Footer Module */
ion-footer {
    padding: 10px;
    background-color: #e7e7e7;
    /* This height and width are relatives to the Phone Module */
    height: 5%;
    width: 100%;
    /* This font size will scale with document */
    /* If we change this one manually only will impact in the Footer module */
    font-size: var(--footer-module-font-size);
    p {
        /* This font size will scale with Footer module */
        font-size: 0.8em;
    }
}
