p {
    margin: 0; // removes spacing between document module and sliders
    font-size: 0.8rem;
}

.flex-container {
    /* This height and width are relatives to the viewport */
    display: flex;
    height: 50vh;
    width: 50vw;
    /* The margins center the content */
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
    background-color: white;
}

.right-column {
    background-color: white;
}

.left-column {
    width: 40%; // of parent (flex-container)
    padding: 10px;
    margin: 10px;
    box-shadow: 0 6px 12px -5px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    p {
        width: 100%; // of parent (left-container)
        /* Since the sliders affect root font-size, that also affects this component.
        So lets override font-size here manually so that the slider font size stays the same.
        */
        /* stylelint-disable */
        font-size: 16px;
        /* stylelint-enable */
        cursor: default;
    }
}

ion-icon {
    /* Since the sliders affect root font-size, that also affects this component.
        So lets override font-size here manually so that the slider font size stays the same.
        */
    /* stylelint-disable */
    font-size: 16px;
    /* stylelint-enable */
    vertical-align: middle;
    cursor: pointer;
}

ion-range {
    --bar-background: var(--openforge-orange-lighter-25);
    --bar-background-active: var(--openforge-orange);
    padding-left: 0;
    padding-right: 0;
}

ion-button {
    --background: var(--openforge-orange);
    /* Since the sliders affect root font-size, that also affects this component.
        So lets override font-size here manually so that the slider font size stays the same.
        */
    /* stylelint-disable */
    font-size: 16px;
    /* stylelint-enable */
    width: 100%;
}
